@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; 
  border-left: 1px solid #333;
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd208; 
}

/* Date Input Styling */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

